<div class="nav-side-menu">
    <div class="brand"><img src="assets/images/beer-black2.jpg"/></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
            </li>
            <ul class="collapse" id="service">
              <li>
                  <div class="form-group col-md-12">
                    <label class="col-md-3 control-label" for="breweryCity">City</label>
                    <div class="col-md-9">
                      <input ng-model="breweryLocationSearchParams.city" id="city" name="city" type="text" placeholder="enter city" class="form-control input-sm">
                    </div>
                  </div>
              </li>
              <li>
                <div class="form-group col-md-12">
                  <label class="col-md-3 control-label" for="breweryState">State</label>
                  <div class="col-md-9">
                    <input ng-model="breweryLocationSearchParams.state" id="state" name="state" type="text" placeholder="enter state" class="form-control input-sm">
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group col-md-12">
                  <label class="col-md-3 control-label" for="breweryZip">Zip</label>
                  <div class="col-md-9">
                    <input ng-model="breweryLocationSearchParams.zip" id="zip" name="zip" type="text" placeholder="enter zip code" class="form-control input-sm">
                  </div>
                </div>
              </li>
            </ul>
        </ul>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="col-md-4">
              <button id="brewerySearch" name="brewerySearch" class="btn" style="background:gray" ng-click="breweryLocationSearch()">Search</button> <!-- glyphicon glyphicon-search -->
            </div>
          </div>
          <div class="col-md-6" ng-if="brewerySearchResults.length">
            Results: <span class="badge">{{brewerySearchResults.length}}</span>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-repeat="beer in beerSearchResults">
          <beer-card beer="{{beer}}"></beer-card>
      </div>
    </div>
</div>

<span ng-if="spinnerActive" us-spinner="{radius:30, width:8, length: 16}"></span>
