<style>
.beerdb-button
  {
    font-size: 16px
  }
</style>
<div class="nav-side-menu">
  <div class="row">
    <div class="col-md-12 beerdb-form-group">
      &nbsp;<i class="fa fa-globe fa-lg"></i> Search for Breweries
    </div>
  </div>
  <div class="row">
    <div class="beerdb-form-group col-md-12">
      <label class="col-md-3 control-label" for="breweryCity">City</label>
      <div class="col-md-9">
        <input ng-model="breweryLocationSearchParams.city" id="city" name="city" type="text" placeholder="enter city" class="beerdb-button form-control input-sm">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="beerdb-form-group col-md-12">
      <label class="col-md-3 control-label" for="breweryState">State</label>
      <div class="col-md-9">
        <input ng-model="breweryLocationSearchParams.state" id="state" name="state" type="text" placeholder="enter state" class="beerdb-button form-control input-sm">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="beerdb-form-group col-md-12">
      <label class="col-md-3 control-label" for="breweryZip">Zip</label>
      <div class="col-md-9">
        <input ng-model="breweryLocationSearchParams.zip" id="zip" name="zip" type="text" placeholder="enter zip code" class="beerdb-button form-control input-sm">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="beerdb-form-group col-md-12" ng-if="brewerySearchResults.length">
      Results: <span class="badge">{{brewerySearchResults.length}}</span>
    </div>
  </div>

  <div class="row">
    <div class="beerdb-form-group col-md-12">
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="brewerySearch($event)">Search</button>
          <button class="btn btn-warning" ng-click="cancelSearch($event)">Cancel</button>
      </div>
    </div>
  </div>

  <div class="row" ng-if="locationServicesEnabled">
    <div class="col-md-12 beerdb-form-group">
      &nbsp;<i class="fa fa-globe fa-lg"></i> Find Breweries Near Me
    </div>
  </div>

  <div class="row" ng-if="locationServicesEnabled">
    <div class="beerdb-form-group col-md-12">
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="findBreweriesNearMe($event)">Search Near Me</button>
      </div>
    </div>
  </div>

  <div class="row" ng-if="locationServicesEnabled">
    <div class="beerdb-form-group col-md-12">
      <div class="modal-footer">
        <span ng-if="voiceSearchActivated">Listening...</span>
        <i class="fa fa-microphone fa-2x" aria-hidden="true" ng-click="toggleVoiceSearch()"></i>
      </div>
    </div>
  </div>

  <div class="row" ng-if="userMediaEnabled && voiceSearchActivated">
    <div class="beerdb-form-group col-md-12">
      <div>
        <audio autoplay></audio>
        <script>
          var successCallback = function(localMediaStream) {
            // Get the audio dom element
            // Audio will stream out of this html element
            var audio = document.querySelector('audio');
            // Now wire up the audio stream with the html
            // element so we can hear the straming audio
            audio.src = window.URL.createObjectURL(localMediaStream);

            // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
            // See crbug.com/110938.
            audio.onloadedmetadata = function(e) {
              // Ready to go. Do some stuff.
               console.log('hello!', e);
            };
          };

          var errorCallback = function(e) {
            console.log('Reeeejected!', e);
          };

          // Not showing vendor prefixes.
          navigator.getUserMedia({audio: true}, successCallback, errorCallback);
        </script>
      </div>
    </div>
  </div>

</div>
