<div class="panel panel-default" id="{{brewery.id}}">
  <div class="panel-heading">

    <div class="row">
      <div class="col-md-9">
        <!-- <button ng-click="setFocus('{{brewery.id}}')">Go To 14 Star</button> -->
        <h4>{{brewery.name}}
        </h4>
      </div>
      <div class="col-md-3">
        <img src="{{brewery.images.icon}}" />
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <small ng-if="brewery.established">Established ({{brewery.established}})</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div>
          {{brewery.description}}
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>
