<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row">
      <div class="col-md-9">
        <h4>{{brewery.name}}
          <!-- <button type="button" class="btn btn-default pull-right" ng-click="toggleMap()">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </button> -->
        </h4>
      </div>
      <div class="col-md-3">
        <img src="{{brewery.images.icon}}" />
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <small ng-if="brewery.established">Established ({{brewery.established}})</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div>
          {{brewery.description}}
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>
