/* app css stylesheet */

/* BEGIN ng-aside styling */
.ng-aside .modal-content {
  min-width: 300px;
}
/* END ng-aside styling */

/* BEGIN collapsable navbar styling */

.nav-side-menu {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  top: 0px;
  height: 100%;
  color: #e1ffff;
}

.beerdb-form-group {
    margin-top: 15px;
}
/* END collapsable navbar styling */

/* BOOTSTRAP OVERRIDES */

/* END BOOTSTRAP OVERRIDES */
