<style>
.beerdb-ng-map
  {
    width:100%;
    height:100%;
    position: absolute;
    z-index : 1;
  }

  .beerdb-button
    {
      position: relative;
      z-index : 2;
    }

</style>

<div class="beerdb-button">
  <button type="button"  class="btn btn-default btn-lg pull-right" ng-click="showSearchDrawer()">
    <span class="glyphicon glyphicon-align-justify"></span>
  </button>
</div>
<div>
  <leaflet  class="beerdb-ng-map" lf-center="center" markers="locations"></leaflet>
</div>
<span ng-if="spinnerActive" us-spinner="{radius:30, width:8, length: 16}"></span>
